/* gif as a background image, and reduce opacity of entire page to highlight background more */
body {
    background-image: url("../images/background.gif");
    background-repeat: repeat;
    opacity: .9;
}

/* reduce opacity of header to be less intrusive */
header {
    opacity: .8;
}

/* add animation to wins and losses cards upon load */
#winsCard {
    animation-name: card-animation;
    animation-duration: .6s;
    opacity: .8;
}

#lossesCard {
    animation-name: card-animation;
    animation-duration: .6s;
    opacity: .8;
}

@keyframes card-animation {
    0% {
      opacity: .5;
      transform: scale(0);
    }
    100% {
      opacity: .8;
      transform: scale(1);
    }
  }

/* add animation to the progress indicator, up and down motion to emulate a nod of the head */
.word-progress {
    animation-name: word-progress-animation;
    animation-duration: .4s;
}

@keyframes word-progress-animation {
    0% {
      opacity: .5;
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(25%);
    }
    100% {
      opacity: .9;
      transform: translateY(0);
    }
  }


  /* add animation to the missed guesses, side to side motion to emulate a head shake with the new letters impacting the old ones */
.guessed-letters {
    animation-name: guessed-letters-animation;
    animation-duration: .4s;
    opacity: .7;
}

@keyframes guessed-letters-animation {
    0% {
      opacity: .5;
      transform: translateX(50%);
    }
    50% {
      transform: translateX(-25%);
    }
    100% {
      opacity: .8;
      transform: translateX(0);
    }
  }

  /* add animation to the guesses left stars, they spin and grow */
  .guessesStar {
    animation-name: guesses-star-animation;
    animation-duration: .5s;
  }

  @keyframes guesses-star-animation {
    0% {
      opacity: .5;
      transform: rotate(360deg);
      transform: scale(.5);
    }
    100% {
      opacity: .8;
      transform: rotate(0deg);
      transform: scale(1);
    }
  }

  #astronautPic {
      animation-name: astronaut-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
  }

  @keyframes astronaut-animation {
    0% {
      transform: rotate(-.5deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg)
    }
    100% {
      transform: rotate(.5deg);
    }
  }